<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" crossorigin="anonymous">
		<style>
			body {text-align: center;} 
			body {background-color: lightblue;}
			img {text-align: center;}
			p {text-align: center;}
			p {font-family:verdana;}
			.button2 {background-color: #f44336;}
		</style>
        <title>Covid Severity</title>
    </head>
<body>
	<a href = "https://www.fda.gov/food/food-safety-during-emergencies/food-safety-and-coronavirus-disease-2019-covid-19">
		<img
		src = "https://www.fda.gov/files/styles/featured_content_background_image/public/covid19-1600x900.jpg?itok=ZvOhgrde"
		alt = "Covid-19 Picture"
		width = "500"
		height = "225"
		/>
	</a>
	<h1> Welcome to COVID-19 Severity Map and Predictor</h1>
	<p> Please choose your State of interest or the predictor</p> 
	
	<form action="/California">		
		<p>
			<div class = 'col-sm'>
			<button type="submit" class = "btn btn-primary">California</button></p></form></div>

	<form action="/Florida">		
		<p>
			<div class = 'col-sm'>
			<button type="submit" class = "btn btn-primary">Florida</button></p></form></div>
			
	<form action="/Illinois">
		<p>
			<div class = 'col-sm'>
			<button type="submit" class = "btn btn-primary">Illinois</button></p></form></div>

	<form action="/New York">	
		<p>
			<div class = 'col-sm'>
			<button type="submit" class = "btn btn-primary">New York</button></p></form></div>
		
	<form action="/Texas">	
		<p>
			<div class = 'col-sm'>
			<button type="submit" class = "btn btn-primary">Texas</button></p>
			</form>
			</div>
</body>
<body>
		<form action="/Prediction">	
		<p>
			<div class = 'col-sm'>
			<button  type="submit" class = "btn btn-danger">Predictor</button></p></form></div>
	
</body>
</html>